/* WILDCARD BOXES */

/*
img, form, #top_navbar, #l_navbar, ul, .r_navbar, 
.bot-r_navbar, .bot-l_navbar ,.l_footer, #bot_navbar, 
#results,.page_title, .link, .description, #col_1, #col_2, 
.col_list {
	border: 0.5px solid pink;
}*/

/* UNIVERSAL */

	body {
		font-family: Helvetica, sans-serif;
		font-size: 1em;
		color: #222;
		margin: 0;
		padding: 0;
	}

	.timing {
		font-family: Helvetica, sans-serif;
		font-size: 13px;
		color: #808080;
	}

/* UNIVERSAL_HORIZONTAL_NAVBAR_RULE */

	#r_navbar, #bot-r_navbar, #bot-l_navbar {
		list-style-type: none;
		margin: 5px 0;
		padding: 0;
		top: 0;
		width: 100%;
		font-family: Helvetica, sans-serif;
		font-size: 0.9em;
	}


	#r_navbar ul li, #bot-r_navbar ul li, 
	#bot-l_navbar ul li, #l_footer ul li {
		display: inline-block;
		margin-right: 0.9em;
		vertical-align: middle;
	}

	#r_navbar ul li a, #bot-r_navbar ul li a, 
	#bot-l_navbar ul li a, #l_footer ul li a {
		text-decoration: none;
		color: #6b6b6b;
		padding: 5px;
	}

	#r_navbar ul li a:hover , #bot-r_navbar ul li a:hover , 
	#bot-l_navbar ul li a:hover , #l_footer ul li a:hover {
		text-decoration: underline;
		color: #6b6b6b;
	}

/* NAVBAR */

	#top_navbar {
		display: block;
		width: 100%;
		height: 80px;
		background-color: #fafafa;
	}

/* NAVBAR_TOP_RIGHT */

	.top_menu {height: 20px; width: 20px;}
	.profile_pic {
		height: 35px; width: 35px;
		border-radius: 50%;
	}

	#r_navbar {
		display: inline-block;
		width: 20%;
		float: right;
		text-align: right;
	}

	#bot-r_navbar {
		display: inline-block;
		float: left;
		width: 30%;
	}

	#bot-l_navbar {
		display: inline-block;
		width: 20%;
	}

	#bot_navbar {
		display: block;
		text-align: center;
		vertical-align: middle;
		clear: both;
		background-color: #fafafa;
	}

/* NAVBAR_TOP_LEFT */

	#l_navbar {
		vertical-align: middle;
		padding: 10px;
		float: left;
		width: 70%
	}

	#logo{
		width: 120px;
		height: auto;
		vertical-align: middle;
		margin-right: 10px;
	}


	form {
		display: inline-block;
		vertical-align: middle;
		width: 60%;
		position: relative;
	}

	form input {
		margin: 0 auto;
		border: 1px solid #dddddd;
		width: calc(100% - 67px);
		padding: 0 50px 0 15px;
		height: 40px;
		font-size: 1.5em;
	}

	form input:focus {
		box-shadow: 0px 2px 8px #dddddd;
		outline: none;
	}

	form input:hover {
		box-shadow: 0px 2px 8px #dddddd;
		outline: none;
	}

	button {
		height: auto;
		display: inline-block;
		cursor: pointer;
		vertical-align: middle;
		position: absolute;
		right: 0;
		top: 3px;

		padding: 5px 10px 5px 10px;
		border-width: 0;
		background-color: inherit;
	}

/* MID_SECTION */

	#results {
		font-family: Helvetica, sans-serif;
		font-size: 18px;
		display: block;
		clear: both;
		width: 80%; 
		height: auto;
		margin: 0 auto;
	}

	.page_title {
		width: 55%;
		height: auto;
		padding: 1px;
	}

	.page_title a {
		text-decoration: none;
		color: #1a0dab;
	}

	.link {
		width: 55%;
		height: auto;
		font-size: 16px;
		color: #006621;
		padding: 1px;
	}

	.link a {
		text-decoration: none;
		color: green;
	}

	.description {
		font-size: 0.8em;
		width: 55%;
		height: auto;
		font-size: 13px;
		color: #545454;
		padding: 1px;
		margin-bottom: 1em;
	}

/* MID_SECTION-COLUMNS */

 	#col_1, #col_2 {
 		display: inline-block;
 		width: 20%;
 		height: auto;
 		padding-left: 40px;
 	}

 	#col_2 {
 		margin-left: 20px;
 	}

 	.col_list .page_title, .col_list .description {
 		width: 98%;
 		height: auto;
 	}

/* FOOTER */

	#footer {
		position: relative;
		bottom: 0;
		width: 100%;
		height: auto;
		background-color: #f2f2f2;
		border-top: 1px solid #e4e4e4;
		font-family: Helvetica, sans-serif;
		font-size: 1em;
	}

	#footer div a {
		text-decoration: none;
		color: #6b6b6b;
	}

	#footer a:hover {
		text-decoration: underline;
	}

	#l_footer {
		display: inline-block;
		float: left;
	}